a {
  text-decoration: none;
}

/*CONTAINER GLOBAL*/
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1225px;
  margin: 0 auto;
  gap: 10px;
  justify-content: space-between;
}

/*PARTIE HEADER*/
.header {
  margin: 0 auto;
  max-width: 1200px;
  height: 1à0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
}

.header button {
  cursor: pointer;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 100px;
  width: 200px;
  padding-bottom: 20px;
}

.search-container {
  flex: 4;
}

.search {
  flex: 4;
}

.search input {
  width: 100%;
  height: 40px;
}

.login-connect {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login-connect button {
  border: 0.5px solid #2db0ba;
  border-radius: 5px;
  color: #2db0ba;
  background-color: #fff;
}

.button-buy {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.button-buy button {
  color: white;
  background-color: #2db0ba;
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 150px;
}

button {
  height: 30px;
  width: 150px;
}

input {
  border: none;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 30px;
}

/*PARTIE HERO*/
.hero {
  margin-top: 20px;
  width: 100vw;
  height: 500px;
  margin-bottom: 20px;
}

.hero img {
  width: 100%;
  height: 100%;
  background: no-repeat;
  object-fit: cover;
  box-sizing: border-box;
}

/*PARTIE OFFERS*/
.tab-images {
  padding-top: 20px;
  background-color: #eaedee;
}
.offers {
  margin-bottom: 60px;
  width: calc(100% / 5 - 80 / 5);
  box-sizing: border-box;
  text-decoration: none;
}
.owner {
  padding-left: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.owner img {
  border-radius: 50px;
}
.owner p {
  font-size: 14px;
  color: #999999;
}
.offers-product-details {
  padding-left: 10px;
  font-size: 14px;
  color: #999999;
  margin-top: 10px;
}
.offers-product-price {
  font-size: 17px;
}

/*PARTIE OFFER*/
.offer {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.offer-image {
  /* border: 1px solid black; */
}

.offer-image img {
  border-radius: 10px;
}

.offer-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 300px;
  height: fit-content;
}

/*FORM SIGNUP*/
.div-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.div-form h1 {
  font-size: 22px;
}
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.signup input {
  width: 300px;
}
.signup input:not(:last-child) {
  border: none;
  border-radius: 0%;
  border-bottom: 0.5px solid #2db0ba;
  background-color: #fff;
}
.signup input:last-of-type {
  color: white;
  font-size: 15px;
  font-weight: 200;
  background-color: #2db0ba;
  border-style: hidden;
  height: 40px;
}

.link-to-signup {
  font-size: 14px;
  color: #2db0ba;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.price-and-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.button-sort {
  border: 1px solid green;
}

/* .price-and-sort input {
  border: 1px solid black;
} */

.multi-range-slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
