.slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
  /* position: absolute; */
}

.slider__track {
  background-color: #ced4da;
  /* width: 100%; */
  z-index: 1;
  /* border: 1px solid blue; */
  margin-left: 10px;
}

.slider__range {
  background-color: #9fe5e1;
  z-index: 2;
  /* border: 1px solid red; */
  margin-left: 10px;
}

/* retire l'apparance par déafut*/
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 300px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
  height: 5px;
}

.thumb--zindex-4 {
  z-index: 4;
}

/*Points sur le slide*/
/* pour Chrome */
.thumb::-webkit-slider-thumb {
  background-color: #2db0ba;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* Pour Firefox */
.thumb::-moz-range-thumb {
  background-color: #2db0ba;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/*Ligne ci-dessous nécessite yarn add classnames*/
.thumb--zindex-5 {
  z-index: 5;
}

/*Les div contenant les valeurs*/
.slider__left-value,
.slider__right-value {
  color: white;
  font-size: 15px;
  margin-top: 20px;
  /* position: absolute; */
  border-radius: 5px;
  height: 20px;
  width: 30px;
  text-align: center;
  padding-top: 5px;
  background-color: #2db0ba;
}

.slider__left-value {
  /* left: 6px; */
  /* top: 40px; */
}

.slider__right-value {
  /* right: -4px; */
  /* left: 840px;
  top: 40px; */
}

.slider-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-values {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
